/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #FFDE00;
}

.footer-container,
.main aside {
    border-top: 20px solid #FFDE00;
}

.header-container,
.footer-container,
.main aside {
    background: #097054;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #FF9900;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
	background: #FFDE00;
}

nav a.active {
	background: #FFDE00;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main article.full {
    width: 100%;
}

a.dark, a:visited.dark {
    color: #ffffff;
    text-decoration: none;
}

a:hover.dark {
    color: #cccccc;
    border-bottom: 1px dotted #ffffff;
}

a.light, a:visited.light {
    color: #666666;
    text-decoration: none;
}

a:hover.light {
    color: #333333;
    border-bottom: 1px dotted #666666;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.tag {
    background-color: #097054;
    color: #ffffff;
    border-radius: 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

article.home (h1,h2,h3,h4,h5,h6) {
    margin: 0 0 5px 0;
}

article hr {
    margin: 5px 0;
}

article.home {
    border-bottom: 4px dashed #cccccc;
    margin-bottom: 20px;
}

.pagination {
    text-align: center;
}

.social-icon {
    width: 32px;
    height: 32px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
}

.social-icon:hover {
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
       -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.facebook {
    background: url('/static/img/social-icons/facebook.png') center #3b5998 no-repeat;
}

.twitter {
    background: url('/static/img/social-icons/twitter.png') center #48c4d2 no-repeat;
}

.gplus {
    background: url('/static/img/social-icons/google+.png') center #d94a39 no-repeat;
}

.linkedin {
    background: url('/static/img/social-icons/linkedin.png') center #71b2d0 no-repeat;
}

.github {
    background: url('/static/img/social-icons/github.png') center #444444 no-repeat;
}

.rss {
    background: url('/static/img/social-icons/rss.png') center #fe9900 no-repeat;
}

.youtube {
    background: url('/static/img/social-icons/youtube.png') center #f45750 no-repeat;
}

article.contacts input, textarea {
    width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 623px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        margin-left: 10px;
        padding: 25px;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 982px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 65%;
    }

    nav ul {
        float: right;
    }

    nav ul li {
        float: left;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .main .article_list {
        float: left;
        width: 57%
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}