{% extends "Blog/base.html" %}
{% block title_block %}Блогът на Веско{% endblock %}
{% block meta_title %}Блогът на Веско{% endblock %}
{% block meta_og_title %}Блогът на Веско{% endblock %}

{% block description_block %}Добре дошли в личното ми местенце в интернет! Тук ще намерите информация за мен, портфолио и статии!{% endblock %}
{% block meta_og_description %}Добре дошли в личното ми местенце в интернет! Тук ще намерите информация за мен, портфолио и статии!{% endblock %}

{% block keywords_block %}блог,веско,портфолио,за мен{% endblock %}
{% block meta_og_url %}{{ url }}{% endblock %}

{% block content_block %}
<div class="article_list">
    {% if articles %}
        {% for article in articles %}
            <article class="home full">
                <h2><a href="{% url "Blog-view_article" article.slug %}" class="light" title="Прочети цялата статия - {{ article.title }}">{{ article.title|truncatechars:40 }}</a></h2>
                <div class="left"><strong>Публикувано на:</strong> {{ article.pub_date|date:"d.m.Y" }} в {{ article.pub_date|time:"H:i:s" }}</div>
                <div class="right"><strong>Автор:</strong> <i>{{ article.author.username }}</i></div>
                <div class="clear"></div>
                <hr />
                {{ article.content|truncatewords_html:60|safe }}
            </article>
        {% endfor %}
        <article class="full">
            <div class="pagination">
                <span class="step-links">
                    {% if articles.has_previous %}
                        <span class="tag"><a href="?page={{ articles.previous_page_number }}" class="dark">предишна</a></span>
                    {% endif %}

                    <span class="current">
                        Страница <span class="tag">{{ articles.number }}</span> от <span class="tag">{{ articles.paginator.num_pages }}</span>
                    </span>

                    {% if articles.has_next %}
                        <span class="tag"><a href="?page={{ articles.next_page_number }}" class="dark">следваща</a></span>
                    {% endif %}
                </span>
            </div>
        </article>
    {% else %}
        <article class="home full">
            <strong>Все още няма добавени статии.</strong>
        </article>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    {% endif %}
    
</div>
<aside>
    <h2>Социално:</h2>
    <p>
        {% if social_data %}
            {% for item in social_data %}
                <a href="{{ item.href }}" title="{{ item.title }}" class="social-icon {{ item.name }}" target="_blank"></a>
            {% endfor %}
        {% endif %}
    </p>
</aside>
<aside>
    <h2>Мисъл:</h2>
    <p>
        <i>"Всеки заслужава да не е просто обикновен потребител!"</i>
    </p>
</aside>
<aside>
    <h2>Търсачка:</h2>
    <form>
        <input type="text" id="search_text">
        {% csrf_token %}
    </form>
    <p id="search_results"></p>
</aside>
{% endblock %}