{% extends "Blog/base.html" %}
{% block title_block %}Портфолио{% endblock %}
{% block meta_title %}Портфолио{% endblock %}
{% block meta_og_title %}Портфолио{% endblock %}

{% block description_block %}Информация за проектите, по които работя или съм работил.{% endblock %}
{% block meta_og_description %}Информация за проектите, по които работя или съм работил.{% endblock %}

{% block keywords_block %}блог,веско,портфолио,проекти{% endblock %}
{% block meta_og_url %}{{ url }}{% endblock %}

{% block content_block %}
{% if projects %}
    {% load static %}
    <article class="full">
        <a href="{% url "Blog-portfolio_rss" %}" class="social-icon rss" target="_blank"></a>
        <hr />
    </article>
    {% for project in projects %}
        <article class="home full">
            <h2><a href="{{ project.url }}" target="_blank" class="light">{{ project.title }}</a></h2>
            <small>{{ project.pub_date|date:"d.m.Y" }} в {{ project.pub_date|time:"H:i:s" }}</small>
            <div><strong>Снимка:</strong> <i>(кликнете за пълен размер)</i><br />
            <a href="{% get_media_prefix %}{{ project.screenshot }}" target="_blank"><img src="{% get_media_prefix %}{{ project.screenshot }}" width="25%"></a></div>
            <hr />
            <div><strong>Технологии:</strong><p>{{ project.technologies }}</p></div>
            <hr />
            <div><strong>Описание:</strong>{{ project.description|safe }}</div>
        </article>
    {% endfor %}
{% else %}
    <article class="full">
        <strong>Все още няма добавени проекти към портфолиото.</strong>
    </article>
{% endif %}
{% endblock %}