{% extends "Blog/base.html" %}
{% block title_block %}За мен{% endblock %}
{% block content_block %}
<article>
    <h1>Здравейте, аз съм Веско!</h1>
    <hr />
    <p>На {{ age }} години съм и живея в провинциалния град Добрич.</p>
    <p>Занимавам се активно с програмиране и сървърна администрация от 2010г. и от тогава научих много. Харесва ми да създавам неща, които са полезни и се използват от хората.</p>
    <p>Запален съм по технологиите и следя с интерес всичко случващо се в технологичния свят.</p>

    <h1>Да, аз използвам <u>само</u> Linux.</h1>
    <hr />
    <p>Не, не използвам Linux защото е модерно. Използвам Linux защото ми е най-удобен и отговаря перфектно на нуждите ми. Не обичам да изпадам в спорове по отношение на операционните системи защото всеки използва това, което му е най-удобно.</p>
    <p>Любимата ми сървърна дистрибуция е <strong>Debian</strong>, а любимата ми десктоп дистрибуция е <strong>Linux Mint</strong>. Измежду мобилните ОС съм запален фен на <strong>Android</strong>.</p>

    <h1>Фотографията ми е хоби! :)</h1>
    <hr />
    <p>Обичам да снимам с професионална техника. Имам доста голям опит и над <strong>40 000</strong> кадъра. Най-голям опит имам в снимането на екстремни спортове. Любимите ми стилове са портретната и телефотографията. Предпочитам и за лични нужди използвам <strong>Nikon</strong> тъй като предлагат много добра техника в съотношение качество-цена.</p>

    <h1>Обичам онлайн игрите!</h1>
    <hr />
    <p>Любимите ми жанрове са <strong>MOBA</strong> игрите и <strong>Shooter</strong>-ите.</p>
    <p>Любимата ми MOBA е <strong>Dota 2</strong>, а любимият ми Shooter е <strong>CS</strong>. Обичам да пробвам нови и интересни заглавия. Харесвам също и <strong>Racing</strong> игрите, както и <strong>Horror</strong> шуутърите.</p>
    <p>Фен съм на <strong>безплатните</strong> и мултиплатформени игри. Портването на <strong>Steam</strong> за линукс е една от основните причини да мигрирам изцяло към него.</p>

    <h1>Аз в социалните мрежи :P</h1>
    <hr />
    <p>
        За да не остана назад и аз имам профили в повечето социални мрежи :D. Ако моята личност представлява интерес за Вас, можете да ме добавите:
        <ul>
            <li><a href="https://www.facebook.com/Veskoyy" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/VeskoyCom" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/pub/veselin-stoyanov/a1/a4/44b" target="_blank">Linkedin</a></li>
            <li><a href="https://plus.google.com/u/0/104236216198044213208" target="_blank">Google+</a> (не го използвам активно)</li>
            <li><a href="https://github.com/veskoy" target="_blank">Github</a> (отскоро станах активен)</li>
        </ul>
    </p>

    <h1>Предлагам следните услуги</h1>
    <hr />
    <p>
        <ul>
            <li>изграждане на цялостен Back-End</li>
            <li>кодиране на готов дизайн</li>
            <li>инсталация и конфигурация на готов CMS</li>
            <li>поправка на съществуващ код</li>
            <li>конфугурация на сървър</li>
            <li>оптимизиране на база от данни (MySQL)</li>
        </ul>
        Ако проявявате интерес може да се свържете с мен чрез <a href="{% url "Blog-contacts" %}">конктактната форма</a>. Няма фиксирани цени на услугите - работя по договаряне в зависимост от работата, която трябва да се свърши.
    </p>
</article>
<aside>
    <h2>Лични качества:</h2>
    <p>
        <ul>
            <li>амбициозен</li>
            <li>весел</li>
            <li>упорит</li>
            <li>родолюбец</li>
            <li>оптимист</li>
        </ul>
    </p>
</aside>
<aside>
    <h2>Back-End:</h2>
    <p>Най-голям опит и най-голямо удоволствие ми доставя да пиша сървърен код или иначе казано това, което потребителят не вижда :D.</p>
    <p>
        <ul>
            <li>PHP (ООП, MVC)</li>
            <li>MySQL</li>
            <li>Python (Django)</li>
            <li><a href="http://en.wikipedia.org/wiki/Pawn_%28scripting_language%29" class="dark" target="_blank">Pawn</a></li>
            <li>Работа със сървиси за микроразплащания</li>
        </ul>
    </p>
</aside>
<aside>
    <h2>Front-End:</h2>
    <p>Имам опит, но User Interface-ът не ми е една от любимите теми. Въпреки това мога да кодирам готов дизайн и да го направя функционален.</p>
    <p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript (jQuery и други библиотеки)</li>
            <li>AJAX</li>
        </ul>
    </p>
</aside>
<aside>
    <h2>Системна администрация:</h2>
    <p>Имам дългогодишен опит в инсталацията, настройката и поддръжката на сървъри. С течение на времето научих много неща за сигурността и защитата. Всичките ми проекти до сега са се хоствали на лични сървъри.</p>
    <p>
        <ul>
            <li>Linux (Debian)</li>
            <li>SSH</li>
            <li>iptables</li>
            <li>Linux Apache, MySQL, PHP stack</li>
            <li>nginx</li>
            <li>Postfix Mail Server</li>
            <li>Cloudflare</li>
            <li>Webmin</li>
            <li>CSF</li>
            <li>Advanced Packet Inspection с tcpdump</li>
            <li>VCS - subversion и git</li>
        </ul>
    </p>
</aside>
{% endblock %}