{% extends "Blog/base.html" %}
{% block title_block %}За VBlog{% endblock %}
{% block description_block %}{% endblock %}
{% block keywords_block %}{% endblock %}
{% block meta_og_url %}{% endblock %}

{% block content_block %}
<article class="full">
    {% if article %}
        <h1>{{ article.title }}</h1>
        <div class="left"><strong>Публикувано на:</strong> {{ article.pub_date|date:"d.m.Y" }} в {{ article.pub_date|time:"H:i:s" }}</div>
        <div class="right"><strong>Автор:</strong> <i>{{ article.author.username }}</i></div>
        <div class="clear"></div>
        <hr />
        {{ article.content|safe }}
        <hr />
        <strong>Тагове:</strong><br />
        {% for tag in article.tags %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    {% endif %}
    
</article>
{% endblock %}